[user]
  name = Andrei Orlov
  email = andyorlov@ya.ru
  ssigningkey = F6247EE925DC59FA
[credential]
  helper = cache --timeout=3600
[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore
[rerere]
  enabled = true
[merge]
  conflictstyle = diff3
[diff]
  algorithm = patience
  renames = true
[pull]
  rebase = true
[rebase]
  autoStash = true
[branch]
  autosetuprebase = always
[gpg]
  program = /usr/local/bin/gpg
[commit]
  gpgsign = true
[alias]
  s = status --short --branch
  cf = commit --fixup
  fixup = commit --amend --reuse-message=HEAD
  pf = push --force
  punch = push --force
  nuke = clean -fxd
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
