[include]
	path = ~/.gitconfig-local
[credential]
	helper = cache --timeout=3600
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[core]
	editor = mate
	autocrlf = input
	excludesfile = ~/.gitignore_global
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[diff]
	algorithm = patience
	renames = true
	colorMoved = zebra
	colorMovedWS = allow-indentation-change
[pull]
	rebase = true
[rebase]
	autoStash = true
[branch]
	autosetuprebase = always
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[alias]
	s = status --short --branch
	cf = commit --fixup
	fixup = commit --amend --reuse-message=HEAD
	punch = push --force
	nuke = clean -fxd
	lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
